
<div ng-controller = "editPageController">

  <div ng-controller = "modalController">
    <div class = "modal-container">
        <section class = "modal">
          <button class="modal-x">x</button>
          <input id = "reviewer-input" type="text" placeholder="Your name"/>
          <textarea class ="review-text" placeholder="Write your review here"></textarea>
          <div id = "send-review">send</div>
        </section>
    </div> <!-- closes modal-container -->
  </div>  <!-- closes modal controller -->

<form class="form">
  <span class="navContain">
    <div ng-click = "editing =! editing" id="navLink"><i class="fa fa-pencil-square-o fa-3x"></i></div>
    <a href = "#Cart"><div id="navLink"><i class="fa fa-cart-plus fa-3x" ng-click="smushCatToCart(clickedCat)"></i></div></a>
  </span><br>
    <div class = "frm-left">
      <input id = "details-photo" style = "background-image: url('{{cImg}}');" class = "frm-img" type="text" placeholder="{{cImg}}"/>
    </div>
    <div class = "frm-right">
      <div id = "cat-name" class = "cat-label">Cat Name</div>
      <label class = "details-label" ng-hide = "editing">{{cName}}</label>
      <input ng-show = "editing" id = "frm-cat-name" type="text" placeholder="{{cName}}"/>
      <div id = "cat-price" class = "cat-label">Price</div>
      <label class = "details-label" ng-hide ="editing">{{cPrice}}</label>
      <input ng-show = "editing" id = "frm-price" type="price" placeholder="{{cPrice}}"/>
      <div id = "cat-type" class = "cat-label">Cat Type</div>
      <label id = "details-type" class = "details-label" ng-hide = "editing">{{cType}}</label>
      <select ng-show = "editing" ng-model = "cats" id="frm-type" name="Types">
        <option>Special</option>
        <option>Rainbow</option>
        <option>Night</option>
        <option>Evil</option>
        <option>Space</option>
        <option>Caspers</option>
      </select>
      <div id = "foster-parent" class = "cat-label">Foster Parent</div>
      <label class = "details-label" ng-hide = "editing">Foster Parent</label>
      <input ng-show = "editing" id = "frm-foster" type="text" placeholder="Your name"/>
    </div>
    <div class = "frm-bottom">
      <div id = "description" class = "cat-label">Description</div>
      <label id = "details-label-desc" ng-hide = "editing">{{cDesc}}</label>
      <textarea ng-show = "editing" id="frm-desc" name="description" placeholder="{{cDesc}}"></textarea>
      <div ng-show = "editing" class = "save-edit">save</div>
    </div>
    <!-- <div class = "all-reviews" ng-repeat="cRev in "> -->
      <ul class = "list-reviews"><p class = "review-p">reviews:</p>
        <li>Reviewer: {{cRev[0].revName}}</li>
        <li>{{cRev[0].stars}} stars</li>
        <li>Review: {{cRev[0].text}}</li>
      </ul>
     <!-- </div> -->
    <div class = "submit-btn">Add A Review</div>
</form>


</div>
