<div ng-controller = "landingPageController as cont" id="landPgContainer">

<input type="text" id="filterText" placeholder="filter cats" ng-model="param"></input>
<a href = "#NewCat" id="navLink"><i class="fa fa-plus fa-3x" alt="Add New Cat to Inventory"></i></a>
<a href = "#Cart" id="navLink"><i class="fa fa-shopping-cart fa-3x" alt="Go To My Cart"></i></a>
<div class="allCatsContainer" ng-repeat="cat in cats | filter:param">
  <a href = "#DetailsEdit">
    <span class="aCat">
      <span class="catInfo">{{cat.name}}<br><span class="catDesc">{{cat.desc}}</span> <br><span class="catCost">{{cat.price|currency}}</span></span>
        <img src ="{{cat.image}}" width = "300px"></img>

    </span><!--end of each cat-->
  </a><!--closes the link to the details page, per cat-->
</div><!--end of the all cats container. no cats outside this-->
<br><br>






<!-- {{message}} -->
</div><!--end the controlller-->
