$heading-font: 'Questrial', sans-serif;
$content-font: 'Old Standard TT', serif;

a{
  text-decoration: none;
}
#navLink{
  display: inline-block;
  // width: 5%;
  color: #DF3B8C;
  margin-left: 10px;
}

body{
  background:#D0F2E7;
}

h1{
  color: #DF3B8C;
  font-size: 3em;
  width:50%;
  margin-left: 28%;
  margin-top:-15px;
}
h1:hover{
  .caps{
    color: darken(#DF3B8C, 30%);
  }
  color: darken(#DF3B8C, 15%);
}

h2{
  color: #DF3B8C;
  font-size: 2em;
  width:80%;
  margin-left: 12%;
  font-family: $content-font;
  margin-top: -5%;
}

.caps{
  font-size: 1.7em;
  color: darken(#DF3B8C, 15%);
  font-family: $content-font;
}

#filterText{
  width: 70%;
  font-size: 2em;
  margin-bottom: 1%;
  margin-left: 12%;
  outline: none;
  padding: 5px;
  border-radius: 20px;
}

.aCat{
  z-index:0;
  display: inline-block;
  float: left;
  border: 8px #DF3B8C solid;
  border-bottom: 8px darken(#DF3B8C, 15%) solid;
  border-top: 8px lighten(#DF3B8C, 15%) solid;
  // border-radius: 30px;
  overflow:hidden;
  width: 275px;
  height: 275px;
  box-sizing: border-box;
  margin:10px;
}

.allCatsContainer{
  width:95%;
  margin-left: 2.5%;
  margin-right:2.5%;
}

.catInfo{
  overflow:hidden;
  width: 275px;
  height: 275px;
  position: absolute;
  vertical-align:middle;
  text-align:center;
  font-family: sans-serif;
  color: rgba(0,0,0,0);
  font-size: 1.5em;
}

.catInfo:hover{
  z-index: 5;
  overflow:hidden;
  width: 260px;
  height: 260px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  vertical-align:middle;
  text-align:center;
  font-family: sans-serif;
  color: #BCEBDF;
  font-size: 1.5em;
  .catCost{
    color: rgb(23, 231, 75);
  }
  .catDesc{
  font-family: 'Old Standard TT';
  font-size: .7em;
  }
}

.navContain{
  margin-left: 45%;
}


// styles for new-cat.html and details-edit.html below

$breakpoints: (
  'phone': (max-width: 690px),
  'medium': (max-width: 1000px),
  'large': (min-width: 1001px),
);
// SOURCED FROM: http://sass-guidelin.es/#responsive-web-design-and-breakpoints

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

.form {
  color: rgb(223,59,140);
  font-weight: 700;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  // display: table;

  .new-label {
    font-family: $heading-font;
    text-transform: uppercase;
  }

  input {
    font-family: $content-font;
    border: none;
    // border-color: rgb(223,59,140);
  }

  textarea {
    font-family: $content-font;
  }
} //closes form


.frm-left{
  vertical-align: top;
  width: 30%;
  display: inline-block;
  overflow: hidden;

  @include respond-to('medium') {
    width: 35%;
    display: inline-block;
    overflow: hidden;
  }

  @include respond-to('phone') {
    display: block;
    width: 100%;
    margin-bottom: 5%;
  }

  .frm-img {
    background-color: rgb(173,224,219);
    margin-top: .5em;
    width: 300px;
    height: 300px;

    @include respond-to('medium') {
      width: 260px;
      height: 260px;
      text-align: center;
    }

    @include respond-to('phone') {
      display: block;
      width: 100%;
      height: 350px;

    }

  }

  ::-webkit-input-placeholder {
   color: rgb(223,59,140);
   text-align: center;
   font-family: $heading-font;
   text-transform: uppercase;

 }
}//closes frm-left

.frm-right {
  vertical-align: top;
  width: 60%;
  display: inline-block;
  overflow: hidden;

  @include respond-to('medium') {
    width: 50%;
    margin-left: 5%;
  }

  @include respond-to('phone') {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
  }


  input {
    background-color: rgb(235,242,242);
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
  }

  select {
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 1em;
    background-color: rgb(173,224,219);

  }
} //closes frm-right

.frm-bottom{
  width: 100%;

  #frm-desc{
    width: 90%;
    height: 100px;

    @include respond-to('phone') {
      width: 100%;
    }
  }

  textarea {
    border: none;
    background-color: rgb(235,242,242);
  }
}//closes frm bottom


.submit-btn {
  margin-top: 1em;
  margin-left: 40%;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: .5em;
  color: white;
  background-color: rgb(223,59,140);
  font-weight: 400;

  @include respond-to('phone') {
    margin-left: 0%;
  }

} // closes submit btn


.modal-container {
  position: fixed;
  background: rgb(235,242,242);
  display: none;

  @include respond-to('phone') {
    margin-bottom: 50%;
  }
}


.modal-container.showing {
  border: 3px solid rgb(223,59,140);
  display: block;
  margin-left: 30%;
  margin-top: -10%;
  width: 500px;
  height: 300px;

  @include respond-to('medium') {
    margin-left: 20%;
  }

  @include respond-to('phone') {
    margin-left: 5%;
    margin-top: -80%;
    width: 300px;
    height: 300px;
  }
} //closes modal-container

.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  text-align: center;

  h1 {
    padding-top: 1em;
    width: 100%;
    margin: 0;
  }

  @include respond-to('phone') {
    margin-left: 0;
    width: 75%;
    text-align: center;
  }
} //closes modal

.modal-x {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border-radius: 2em;

    @include respond-to('phone') {
      top: 0.5em;
      right: 0.5em;
    }
} //closes modal-x


.click-edit{
  margin-top: 1em;
  margin-left: 40%;
  margin-bottom: 3em;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: .5em;
  color: white;
  background-color: rgb(223,59,140);
  font-weight: 400;
}

.details-label {
  color: rgb(169,169,169);
  font-family: $content-font;
  text-transform: none;
  // background-color: rgb(235,242,242);
  display: block;
  width: 100%;
  height: 50px;
  line-height: 2.5;
  margin-bottom: 1em;
}

#details-label-desc{
  color: rgb(169,169,169);
  font-family: $content-font;
}

#details-photo{
  background-color: rgb(173,224,219);
  margin-top: .5em;
  width: 300px;
  height: 300px;
}


#reviewer-input{
  margin-top: 1em;
  background-color: white;
  width: 300px;
  height: 50px;
  margin-bottom: 1em;
}

.review-text{
  width: 300px;
  height: 150px;
  margin-bottom: 1em;

}

#send-review{
  width: 100px;
  height: 25px;
  margin-left: 40%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: rgb(223,59,140);
  font-weight: 400;
}

.save-edit{
  margin-top: 1em;
  width: 100px;
  height: 25px;
  margin-left: 40%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgb(223,59,140);
}

//end styles for new-cat.html and details-edit.html

//styles for reviews
.list-reviews{
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;

  li{
    padding-top: 1em;
    text-transform: none;
    font-family: $content-font;

  }
}



//end styles for reviews
