$heading-font: 'Questrial', sans-serif;
$content-font: 'Old Standard TT', serif;


body{
  background:#D0F2E7;
}

h1{
  color: #DF3B8C;
  font-size: 3em;
  width:50%;
  margin-left: 28%;
}

h2{
  color: #DF3B8C;
  font-size: 2em;
  width:80%;
  margin-left: 12%;
  font-family: $content-font;
  margin-top: -5%;
}

.caps{
  font-size: 1.7em;
  color: darken(#DF3B8C, 15%);
  font-family: $content-font;
}


#filterText{
  width: 70%;
  font-size: 2em;
  margin-bottom: 1%;
  margin-left: 15%;
  outline: none;
  padding: 5px;
  border-radius: 20px;
}

.aCat{
  z-index:0;
  display: inline-block;
  float: left;
  border: 8px #DF3B8C solid;
  border-bottom: 8px darken(#DF3B8C, 15%) solid;
  border-top: 8px lighten(#DF3B8C, 15%) solid;
  // border-radius: 30px;
  overflow:hidden;
  width: 275px;
  height: 275px;
  box-sizing: border-box;
  margin:10px;
}

.allCatsContainer{
  width:95%;
  margin-left: 2.5%;
  margin-right:2.5%;
}

.catInfo{
  overflow:hidden;
  width: 275px;
  height: 275px;
  position: absolute;
  vertical-align:middle;
  text-align:center;
  font-family: sans-serif;
  color: rgba(0,0,0,0);
  font-size: 1.5em;
}

.catInfo:hover{
  z-index: 5;
  overflow:hidden;
  width: 260px;
  height: 260px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  vertical-align:middle;
  text-align:center;
  font-family: sans-serif;
  color: #BCEBDF;
  font-size: 1.5em;
}

// styles for new-cat.html and details-edit.html below

$breakpoints: (
  'phone': (max-width: 690px),
  'medium': (max-width: 1000px),
  'large': (min-width: 1001px),
);
// SOURCED FROM: http://sass-guidelin.es/#responsive-web-design-and-breakpoints

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

.form {
  color: rgb(223,59,140);
  font-weight: 700;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;

  // display: table;

  label {
    font-family: $heading-font;
    text-transform: uppercase;
  }

  input {
    font-family: $content-font;
    border: none;
    // border-color: rgb(223,59,140);
  }

  textarea {
    font-family: $content-font;
  }
} //closes form


.frm-left{
  vertical-align: top;
  width: 30%;
  display: inline-block;
  overflow: hidden;

  @include respond-to('medium') {
    width: 35%;
    display: inline-block;
    overflow: hidden;
  }

  @include respond-to('phone') {
    display: block;
    width: 100%;
    margin-bottom: 5%;
  }

  .frm-img {
    background-color: rgb(173,224,219);
    margin-top: .5em;
    width: 300px;
    height: 300px;

    @include respond-to('medium') {
      width: 260px;
      height: 260px;
      text-align: center;
    }

    @include respond-to('phone') {
      display: block;
      width: 100%;
      height: 350px;

    }

  }

  ::-webkit-input-placeholder {
   color: rgb(223,59,140);
   text-align: center;
   font-family: $heading-font;
   text-transform: uppercase;

 }
}//closes frm-left

.frm-right {
  vertical-align: top;
  width: 60%;
  display: inline-block;
  overflow: hidden;

  @include respond-to('medium') {
    width: 50%;
    margin-left: 5%;
  }

  @include respond-to('phone') {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
  }


  input {
    background-color: rgb(235,242,242);
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
  }

  select {
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 1em;
    background-color: rgb(173,224,219);

  }
} //closes frm-right

.frm-bottom{
  width: 100%;

  #frm-desc{
    width: 90%;
    height: 100px;
  }

  textarea {
    border: none;
    background-color: rgb(235,242,242);
  }
}//closes frm bottom


.submit-btn {
  margin-top: 1em;
  margin-left: 40%;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: .5em;
  color: white;
  background-color: rgb(223,59,140);
  font-weight: 400;
} // closes submit btn

.modal-container {
  position: fixed;
  background: #C0C0C0;
  display: none;
}


.modal-container.showing {
  display: block;
}

.modal {
  position: fixed;
  width: 50%;
  padding: 2em;
}

.modal-x {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border-radius: 2em;
    border: 1px solid black;
}



//end styles for new-cat.html and details-edit.html
