a {
  text-decoration: none; }

#navLink {
  display: inline-block;
  color: #DF3B8C;
  margin-left: 10px; }

body {
  background: #D0F2E7; }

h1 {
  color: #DF3B8C;
  font-size: 3em;
  width: 50%;
  margin-left: 28%;
  margin-top: -15px; }

h1:hover {
  color: #b11d66; }
  h1:hover .caps {
    color: #6f1240; }

h2 {
  color: #DF3B8C;
  font-size: 2em;
  width: 80%;
  margin-left: 12%;
  font-family: "Old Standard TT", serif;
  margin-top: -5%; }

.caps {
  font-size: 1.7em;
  color: #b11d66;
  font-family: "Old Standard TT", serif; }

#filterText {
  width: 70%;
  font-size: 2em;
  margin-bottom: 1%;
  margin-left: 12%;
  outline: none;
  padding: 5px;
  border-radius: 20px; }

.aCat {
  z-index: 0;
  display: inline-block;
  float: left;
  border: 8px #DF3B8C solid;
  border-bottom: 8px #b11d66 solid;
  border-top: 8px #ea7db3 solid;
  overflow: hidden;
  width: 275px;
  height: 275px;
  box-sizing: border-box;
  margin: 10px; }

.allCatsContainer {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; }

.catInfo {
  overflow: hidden;
  width: 275px;
  height: 275px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  color: transparent;
  font-size: 1.5em; }

.catInfo:hover {
  z-index: 5;
  overflow: hidden;
  width: 260px;
  height: 260px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  color: #BCEBDF;
  font-size: 1.5em; }
  .catInfo:hover .catCost {
    color: #17e74b; }
  .catInfo:hover .catDesc {
    font-family: 'Old Standard TT';
    font-size: .7em; }

.form {
  color: #df3b8c;
  font-weight: 700;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%; }
  .form .new-label {
    font-family: "Questrial", sans-serif;
    text-transform: uppercase; }
  .form input {
    font-family: "Old Standard TT", serif;
    border: none; }
  .form textarea {
    font-family: "Old Standard TT", serif; }

.frm-left {
  vertical-align: top;
  width: 30%;
  display: inline-block;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .frm-left {
      width: 35%;
      display: inline-block;
      overflow: hidden; } }
  @media (max-width: 690px) {
    .frm-left {
      display: block;
      width: 100%;
      margin-bottom: 5%; } }
  .frm-left .frm-img {
    background-color: #ade0db;
    margin-top: .5em;
    width: 300px;
    height: 300px; }
    @media (max-width: 1000px) {
      .frm-left .frm-img {
        width: 260px;
        height: 260px;
        text-align: center; } }
    @media (max-width: 690px) {
      .frm-left .frm-img {
        display: block;
        width: 100%;
        height: 350px; } }
  .frm-left ::-webkit-input-placeholder {
    color: #df3b8c;
    text-align: center;
    font-family: "Questrial", sans-serif;
    text-transform: uppercase; }

.frm-right {
  vertical-align: top;
  width: 60%;
  display: inline-block;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .frm-right {
      width: 50%;
      margin-left: 5%; } }
  @media (max-width: 690px) {
    .frm-right {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%; } }
  .frm-right input {
    background-color: #ebf2f2;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 1em; }
  .frm-right select {
    border: none;
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 1em;
    background-color: #ade0db; }

.frm-bottom {
  width: 100%; }
  .frm-bottom #frm-desc {
    width: 90%;
    height: 100px; }
    @media (max-width: 690px) {
      .frm-bottom #frm-desc {
        width: 100%; } }
  .frm-bottom textarea {
    border: none;
    background-color: #ebf2f2; }

.submit-btn {
  margin-top: 1em;
  margin-left: 40%;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: .5em;
  color: white;
  background-color: #df3b8c;
  font-weight: 400; }
  @media (max-width: 690px) {
    .submit-btn {
      margin-left: 0%; } }

.modal-container {
  position: fixed;
  background: #ebf2f2;
  display: none; }
  @media (max-width: 690px) {
    .modal-container {
      margin-bottom: 50%; } }

.modal-container.showing {
  border: 3px solid #df3b8c;
  display: block;
  margin-left: 30%;
  margin-top: -10%;
  width: 500px;
  height: 300px; }
  @media (max-width: 1000px) {
    .modal-container.showing {
      margin-left: 20%; } }
  @media (max-width: 690px) {
    .modal-container.showing {
      margin-left: 5%;
      margin-top: -80%;
      width: 300px;
      height: 300px; } }

.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  text-align: center; }
  .modal h1 {
    padding-top: 1em;
    width: 100%;
    margin: 0; }
  @media (max-width: 690px) {
    .modal {
      margin-left: 0;
      width: 75%;
      text-align: center; } }

.modal-x {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 2em; }
  @media (max-width: 690px) {
    .modal-x {
      top: 0.5em;
      right: 0.5em; } }

#click-edit {
  margin-top: 1em;
  margin-left: 40%;
  margin-bottom: 3em;
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: .5em;
  color: white;
  background-color: #df3b8c;
  font-weight: 400; }

.details-label {
  color: darkgray;
  font-family: "Old Standard TT", serif;
  text-transform: none;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 2.5;
  margin-bottom: 1em; }

#details-label-desc {
  color: darkgray;
  font-family: "Old Standard TT", serif; }

#details-photo {
  background-color: #ade0db;
  margin-top: .5em;
  width: 300px;
  height: 300px; }

#reviewer-input {
  margin-top: 1em;
  background-color: white;
  width: 300px;
  height: 50px;
  margin-bottom: 1em; }

.review-text {
  width: 300px;
  height: 150px;
  margin-bottom: 1em; }

#send-review {
  width: 100px;
  height: 25px;
  margin-left: 40%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #df3b8c;
  font-weight: 400; }

.list-reviews {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase; }
  .list-reviews li {
    padding-top: 1em;
    text-transform: none;
    font-family: "Old Standard TT", serif; }

/*# sourceMappingURL=styles.css.map */
